RuleBuilder/Entities/bin/Debug/Entities.dll
RuleBuilder/Entities/bin/Debug/Entities.pdb
RuleBuilder/Entities/obj/Debug/Common.csproj.CoreCompileInputs.cache
RuleBuilder/Entities/obj/Debug/Common.csproj.FileListAbsolute.txt
RuleBuilder/Entities/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RuleBuilder/Entities/obj/Debug/Entities.csproj.CoreCompileInputs.cache
RuleBuilder/Entities/obj/Debug/Entities.csproj.FileListAbsolute.txt
RuleBuilder/Entities/obj/Debug/Entities.dll
RuleBuilder/Entities/obj/Debug/Entities.pdb
RuleBuilder/Entities/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RuleBuilder/Entities/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RuleBuilder/Entities/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RuleBuilder/RuleBuilder/bin/Antlr3.Runtime.dll
RuleBuilder/RuleBuilder/bin/Antlr3.Runtime.pdb
RuleBuilder/RuleBuilder/bin/Entities.dll
RuleBuilder/RuleBuilder/bin/Entities.pdb
RuleBuilder/RuleBuilder/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
RuleBuilder/RuleBuilder/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
RuleBuilder/RuleBuilder/bin/Microsoft.Web.Infrastructure.dll
RuleBuilder/RuleBuilder/bin/Newtonsoft.Json.dll
RuleBuilder/RuleBuilder/bin/Newtonsoft.Json.xml
RuleBuilder/RuleBuilder/bin/RuleBuilder.dll
RuleBuilder/RuleBuilder/bin/RuleBuilder.dll.config
RuleBuilder/RuleBuilder/bin/RuleBuilder.pdb
RuleBuilder/RuleBuilder/bin/Service.dll
RuleBuilder/RuleBuilder/bin/Service.pdb
RuleBuilder/RuleBuilder/bin/System.Runtime.CompilerServices.Unsafe.dll
RuleBuilder/RuleBuilder/bin/System.Runtime.CompilerServices.Unsafe.xml
RuleBuilder/RuleBuilder/bin/System.Threading.Tasks.Extensions.dll
RuleBuilder/RuleBuilder/bin/System.Threading.Tasks.Extensions.xml
RuleBuilder/RuleBuilder/bin/System.Web.Helpers.dll
RuleBuilder/RuleBuilder/bin/System.Web.Helpers.xml
RuleBuilder/RuleBuilder/bin/System.Web.Mvc.dll
RuleBuilder/RuleBuilder/bin/System.Web.Mvc.xml
RuleBuilder/RuleBuilder/bin/System.Web.Optimization.dll
RuleBuilder/RuleBuilder/bin/System.Web.Optimization.xml
RuleBuilder/RuleBuilder/bin/System.Web.Razor.dll
RuleBuilder/RuleBuilder/bin/System.Web.Razor.xml
RuleBuilder/RuleBuilder/bin/System.Web.WebPages.Deployment.dll
RuleBuilder/RuleBuilder/bin/System.Web.WebPages.Deployment.xml
RuleBuilder/RuleBuilder/bin/System.Web.WebPages.dll
RuleBuilder/RuleBuilder/bin/System.Web.WebPages.Razor.dll
RuleBuilder/RuleBuilder/bin/System.Web.WebPages.Razor.xml
RuleBuilder/RuleBuilder/bin/System.Web.WebPages.xml
RuleBuilder/RuleBuilder/bin/Unity.Abstractions.dll
RuleBuilder/RuleBuilder/bin/Unity.Abstractions.pdb
RuleBuilder/RuleBuilder/bin/Unity.Container.dll
RuleBuilder/RuleBuilder/bin/Unity.Container.pdb
RuleBuilder/RuleBuilder/bin/Unity.Mvc.dll
RuleBuilder/RuleBuilder/bin/Unity.Mvc.pdb
RuleBuilder/RuleBuilder/bin/Unity.Mvc.xml
RuleBuilder/RuleBuilder/bin/Unity.RegistrationByConvention.dll
RuleBuilder/RuleBuilder/bin/Unity.RegistrationByConvention.pdb
RuleBuilder/RuleBuilder/bin/WebActivatorEx.dll
RuleBuilder/RuleBuilder/bin/WebGrease.dll
RuleBuilder/RuleBuilder/bin/roslyn/csc.exe
RuleBuilder/RuleBuilder/bin/roslyn/csc.exe.config
RuleBuilder/RuleBuilder/bin/roslyn/csc.rsp
RuleBuilder/RuleBuilder/bin/roslyn/csi.exe
RuleBuilder/RuleBuilder/bin/roslyn/csi.rsp
RuleBuilder/RuleBuilder/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
RuleBuilder/RuleBuilder/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
RuleBuilder/RuleBuilder/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
RuleBuilder/RuleBuilder/bin/roslyn/Microsoft.CodeAnalysis.dll
RuleBuilder/RuleBuilder/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
RuleBuilder/RuleBuilder/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
RuleBuilder/RuleBuilder/bin/roslyn/Microsoft.CSharp.Core.targets
RuleBuilder/RuleBuilder/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
RuleBuilder/RuleBuilder/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
RuleBuilder/RuleBuilder/bin/roslyn/Microsoft.VisualBasic.Core.targets
RuleBuilder/RuleBuilder/bin/roslyn/System.AppContext.dll
RuleBuilder/RuleBuilder/bin/roslyn/System.Collections.Immutable.dll
RuleBuilder/RuleBuilder/bin/roslyn/System.Diagnostics.StackTrace.dll
RuleBuilder/RuleBuilder/bin/roslyn/System.IO.FileSystem.dll
RuleBuilder/RuleBuilder/bin/roslyn/System.IO.FileSystem.Primitives.dll
RuleBuilder/RuleBuilder/bin/roslyn/System.Reflection.Metadata.dll
RuleBuilder/RuleBuilder/bin/roslyn/vbc.exe
RuleBuilder/RuleBuilder/bin/roslyn/vbc.exe.config
RuleBuilder/RuleBuilder/bin/roslyn/vbc.rsp
RuleBuilder/RuleBuilder/bin/roslyn/VBCSCompiler.exe
RuleBuilder/RuleBuilder/bin/roslyn/VBCSCompiler.exe.config
RuleBuilder/RuleBuilder/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RuleBuilder/RuleBuilder/obj/Debug/RuleBuilder.csproj.CopyComplete
RuleBuilder/RuleBuilder/obj/Debug/RuleBuilder.csproj.CoreCompileInputs.cache
RuleBuilder/RuleBuilder/obj/Debug/RuleBuilder.csproj.FileListAbsolute.txt
RuleBuilder/RuleBuilder/obj/Debug/RuleBuilder.csprojAssemblyReference.cache
RuleBuilder/RuleBuilder/obj/Debug/RuleBuilder.dll
RuleBuilder/RuleBuilder/obj/Debug/RuleBuilder.pdb
RuleBuilder/RuleBuilder/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RuleBuilder/RuleBuilder/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RuleBuilder/RuleBuilder/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RuleBuilder/Service/bin/Debug/Entities.dll
RuleBuilder/Service/bin/Debug/Entities.pdb
RuleBuilder/Service/bin/Debug/Service.dll
RuleBuilder/Service/bin/Debug/Service.pdb
RuleBuilder/Service/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
RuleBuilder/Service/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
RuleBuilder/Service/bin/Debug/Unity.Abstractions.dll
RuleBuilder/Service/bin/Debug/Unity.Abstractions.pdb
RuleBuilder/Service/bin/Debug/Unity.Container.dll
RuleBuilder/Service/bin/Debug/Unity.Container.pdb
RuleBuilder/Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RuleBuilder/Service/obj/Debug/Service.csproj.CopyComplete
RuleBuilder/Service/obj/Debug/Service.csproj.CoreCompileInputs.cache
RuleBuilder/Service/obj/Debug/Service.csproj.FileListAbsolute.txt
RuleBuilder/Service/obj/Debug/Service.csprojAssemblyReference.cache
RuleBuilder/Service/obj/Debug/Service.dll
RuleBuilder/Service/obj/Debug/Service.pdb
RuleBuilder/Service/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RuleBuilder/Service/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RuleBuilder/Service/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
